/* Add your code here */
body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #076083;
  }
div {
    width: 450px;
    display: block;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 25px;
    text-align: left;
  }
h1 {
    color:#0173a0;
    text-align: center;
    font-weight: bold;
  }

input[type="text"] {
    width: 95%;
    padding: 3px;
    margin-bottom: 10px;
    border: 2px solid #cccccc;
  }

input[type="email"] {
    width: 95%;
    padding: 3px;
    margin-bottom: 10px;
    border: 2px solid #cccccc;
  }

select {
  width: 95%;
  padding: 3px;
  border: 1px solid gray;
  margin-bottom: 10px;
  display: ruby-text-container;
}
span {
  color: #0173a0;
}

#section {
  padding: 2px;
}

fieldset{
  padding: 0;
  border-width: 0;
  margin: 0;
}
  
legend {
  padding: 0;
  margin-bottom: 0.2em;
}

.input-style, text {
  width: 100%;
  height: 100px;
  padding: 9px;
  border-radius: 5px;
  border: 1px solid gray;
}

.sub {
  background-color: white;
    color: #0173a0;
    height:40px;
    width:48%;
    font-weight: bold;
    border: 1px solid #0173a0;
}

.label-text {
  font-weight: bold;
  display: inline-block;
  padding: 12px 12px 12px 0;
  cursor: pointer;
}
.reset {
    background-color: white;
    color: #0173a0;
    height:40px;
    width:48%;
    font-weight: bold;
    border: 1px solid #0173a0;
  }

.sub:hover, .reset:hover {
    background-color: #0173a0;
    color: white;
  }